@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-background text-foreground;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Smooth scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-muted/30;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-muted/50;
}
